body {
	background-image: url("Julien Elisa.jpg");
	background-attachment: scroll;
	font-family: "future";
	background-repeat: no-repeat;
}
@font-face {
	font-family: "future";
	src: url('Star Trek Enterprise Future.ttf');
}
.anim-annee p {
	color: white;
    margin-top: 100px;
	margin-left: 20px;
    font-size: 60px;
    text-align: center;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
.anim-bonheur p {
	color: white;
	font-size: 60px;
	margin-top: 90px;
	margin-left: 50px;
    opacity:0;
    -moz-animation: anim 1s linear forwards 2s;
    -webkit-animation: anim 1s linear forwards 2s;
    -o-animation: anim 1s linear forwards 2s;
    -ms-animation: anim 1s linear forwards 2s;
    animation: anim 1s linear forwards 2s;
}
.anim-emb p {
	color: white;
	font-size: 60px;
	margin-top: 90px;
	margin-left: 200px;
    opacity:0;
    -moz-animation: anim 2s linear forwards 3s;
    -webkit-animation: anim 2s linear forwards 3s;
    -o-animation: anim 2s linear forwards 3s;
    -ms-animation: anim 2s linear forwards 3s;
    animation: anim 2s linear forwards 3s;
}
.anim-alex p {
	color: white;
	font-size: 60px;
	margin-top: 90px;
	margin-left: 200px;
    opacity:0;
    -moz-animation: anim 3s linear forwards 5s;
    -webkit-animation: anim 3s linear forwards 5s;
    -o-animation: anim 3s linear forwards 5s;
    -ms-animation: anim 3s linear forwards 5s;
    animation: anim 3s linear forwards 5s;
}
@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}